/* global variables*/
:root {
    /*--value: 5;*/
}



.VerticalDebugBG {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 48%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 100%);
}


/* TODO: 
    - maybe have the dots fade in a certain direction
    - maybe gradient the background color
*/
.CoolDottedBG {
    background-image: radial-gradient(rgba(255,255,255,.2) 5%, transparent 5%, transparent 100%), /* % values for first 2 colors are the size of the dot */
    linear-gradient(rgba(20, 20, 20, 1), #481217);
    background-size: /* NOTE: not the actual size of the div. Just creates an effect for the gradients */
    40px 40px, auto auto;
}

.HorizontalDebugBG {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 49.5%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50.5%, rgba(0,0,0,1) 100%);
}
.HorizontalDebugBGFaded {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.5) 0%, rgba(1,106,146,0.5) 49.5%, rgba(1,108,148,0.75) 50%, rgba(1,112,152,0.5) 50.5%, rgba(0,212,255,0.5) 100%);
}
.VerticalDebugBGFaded {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(1,106,146,0.5) 49.5%, rgba(1,108,148,0.75) 50%, rgba(1,112,152,0.5) 50.5%, rgba(0,212,255,0.5) 100%);
}




.ScrollIndicator:before 
{
  position: absolute;
  left: 50%;
}

.ScrollIndicator {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;

  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);

  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;

  /* used for a fade transition for when js shows and hides the ScrollIndicator via style.opacity */
  -o-transition: opacity .05s linear;
  -moz-animation: opacity .05s linear;
  -webkit-transition: opacity .05s linear;
  transition: opacity .05s linear;
}

.ScrollIndicator:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;

  -o-animation: ArrowFadeUp 2s linear 0s infinite;
  -webkit-animation: ArrowFadeUp 2s linear 0s infinite;
  -moz-animation: ArrowFadeUp 2s linear 0s infinite;
  animation: ArrowFadeUp 2s linear 0s infinite;
}

@keyframes ArrowFadeUp 
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
        transform: translate3d(-10px, -10px, 0px);
    }
}
