@using Website.Shared.Components.NavMenus;
@inherits LayoutComponentBase

<PageTitle>Website</PageTitle>

<div class="page">
    <div>
        <MainNavMenu />
    </div>

    <main style="padding-top: 5.25em;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>









@code {

}
