@using Website.Shared.Components.NavMenus;
@inherits LayoutComponentBase

<PageTitle>Website</PageTitle>

<div class="page">
    <div>
        <MainNavMenu />
    </div>

    <main>
        @Body
    </main>
</div>




