#PortfolioItemVideoDiv
{
/* ------- Establish animation rest state ------- */
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
/* ------------------------------------- */
	
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-ms-transition-duration: .25s;
	-o-transition-duration: .25s;
    transition-duration: .25s;
}
#PortfolioItemVideoDiv:hover 
{
	-webkit-transform: translateZ(0) scale(1.1);
	-moz-transform: translateZ(0) scale(1.1);
	-ms-transform: translateZ(0) scale(1.1);
	-o-transform: translateZ(0) scale(1.1);
	transform: translateZ(0) scale(1.1)
}
#PortfolioItemVideoDiv:active
{
	-webkit-transform: translateZ(0) scale(.98);
	-moz-transform: translateZ(0) scale(.98);
	-ms-transform: translateZ(0) scale(.98);
	-o-transform: translateZ(0) scale(.98);
	transform: translateZ(0) scale(.98)
}

#FullscreenIcon
{
	position:absolute;
	width:5%;
	height:5%;
/* ------- Establish animation rest state ------- */
    color:rgba(128, 128, 128, .01);
	-webkit-transform: translateZ(0) scale(0);
	-moz-transform: translateZ(0) scale(0);
	-ms-transform: translateZ(0) scale(0);
	-o-transform: translateZ(0) scale(0);
	transform: translateZ(0) scale(0);
/* ------------------------------------- */
	transition-property: color;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	


	
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-ms-transition-duration: .25s;
	-o-transition-duration: .25s;
    transition-duration: .25s;
}

#PortfolioItemVideoDiv:hover > #FullscreenIcon
{
    color:rgba(255, 255, 255, 1);

	-webkit-transform: translateZ(0) scale(1);
	-moz-transform: translateZ(0) scale(1);
	-ms-transform: translateZ(0) scale(1);
	-o-transform: translateZ(0) scale(1);
	transform: translateZ(0) scale(1)
}

#PortfolioItemVideoDivDarkOverlay 
{
	position:absolute;
	width:100%;
	height:100%;
	/* ------- Establish animation rest state ------- */
	background-color: black;
	opacity: .01;
	/* ------------------------------------- */

	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-ms-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-ms-transition-duration: .25s;
	-o-transition-duration: .25s;
    transition-duration: .25s;
}
#PortfolioItemVideoDiv:hover > #PortfolioItemVideoDivDarkOverlay
{
	opacity: .50;
}

/*#GithubIcon:hover
{
	background-color: black;
}*/
