* {
    box-sizing: border-box;
}

#PortfolioNavbar
{
    -o-animation: NavBarSlideIn 1s ease;
    -webkit-animation: NavBarSlideIn 1s ease;
    -moz-animation: NavBarSlideIn 1s ease;
    animation: NavBarSlideIn 1s ease;
}

@keyframes NavBarSlideIn {
    from {
        transform: translate3d(0px, -200px, 0px);
    }

    to {
        transform: translate3d(0px, 0px, 0px);
    }
}

#ParallaxWrapper
{
    /* ----our color pallet i guess---- */
    /*
        rgb(19, 25, 32);
        rgb(31, 32, 41);
        rgb(53, 53, 53);
    */
    /* -------------------------------- */
    
    background-color: rgb(31, 32, 41);
}

.page-section 
{
    padding: 6rem 0;
}

.page-section .page-section-heading 
{
    color: white;
    font-size: 2.25rem;
    line-height: 2rem;
}



.portfolio-section
{
    background-color: rgb(19, 25, 32);
}

.portfolio-section .portfolio-item 
{
    padding: 6rem 0;
}



.pattern-diagonal-stripes-sm 
{
    --stripe-col: grey;
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, var(--stripe-col) 10px, var(--stripe-col) calc(2 * 10px));
}

.dots-pattern 
{
    height: 75px;
    --dot-size: 26px;
    background: url(images/dot.svg);
    background-size: var(--dot-size) var(--dot-size);
}


.abs-pos-center /* requires position:relative parent */
{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.navLinkSectionInView 
{
    color: #fff !important; /* important because js will add this class when section is in view and it should override the color bootstrap makes it */
}

.modal-content  /* remove modal white color */
{
    background-color:black !important;
    background-color:rgba(0, 0, 0, 0.00) !important;
    background-color:transparent !important;
}

.EndingBackground 
{
    width:100%;
    height:300%;
    z-index:-1;
    
    background-color: rgb(31, 32, 41);
    background-image: 
        linear-gradient(40deg, rgba(0,0,0,0) 10%, rgba(0, 0, 0, .15) 50%, rgba(0,0,0,0) 70%),
        radial-gradient(2000px at 0 75%,rgba(60,221,221,.35),rgba(60,221,221,0)),
        linear-gradient(150deg, rgba(0,0,0,0) 10%, rgba(0, 0, 0, .15) 50%, rgba(0,0,0,0) 70%),
        radial-gradient(2000px at 100% 50%,rgba(255, 40, 40, .3),rgba(255,26,198,0));
        
}
