#PortfolioItem
{
/* ------- Establish a rest state ------- */
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
/* ------------------------------------- */
	
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-ms-transition-duration: .25s;
	-o-transition-duration: .25s;
    transition-duration: .1s;
}
/*#PortfolioItem:hover
{
	background-color:rgba(255,255,255,.05);
}*/
#PortfolioItem:active
{
	-webkit-transform: translateZ(0) scale(.98);
	-moz-transform: translateZ(0) scale(.98);
	-ms-transform: translateZ(0) scale(.98);
	-o-transform: translateZ(0) scale(.98);
	transform: translateZ(0) scale(.98)
}

.btn-portfolio-item-fullscreen
{
/* Remove default HTML button styling */
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: none;
/* ------------------- */


    color:grey;
    
    transition-property: color;
    transition-duration: .25s;
}

.btn-portfolio-item-fullscreen:hover 
{
    color:white;
}
