@using Microsoft.AspNetCore.Components.Web
@namespace Website.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    
    <link type="text/css" rel="stylesheet" href="css/MyCssScript.css" />
    @*---------Added---------*@
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="PortfolioTemplateResources/assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="PortfolioTemplateResources/css/styles.css" rel="stylesheet" />
    @*---------Added---------*@
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Website.styles.css" rel="stylesheet" />     @*this is the thing that looks for the css file associated with a certain page at the same file path (ie. Index.razor.css). File not found error if project doesn't have any of those*@
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    

    <script src="js/MyJavascriptFunctions.js"></script>    @*my custom js functions*@

    @*---------Added---------*@
        <!-- Core theme JS-->
        <script src="PortfolioTemplateResources/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    @*---------Added---------*@
    @*------added jquery JavaScript Bootstrap Bundle with Popper. This allowed for navbar-toggle functionality ------*@
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @*------added------*@
    <script type="text/javascript" src="js/jarallax-0.2.2c.js"></script>

    
    <script src="_framework/blazor.server.js"></script>     @* Here by default, but annoying b/c it auto scrolls to the first h1 tag in the page*@
</body>
</html>
