@page "/"
@layout Shared.Layouts.EmptyLayout;

<PageTitle>Index</PageTitle>


<div class="jumbotron text-center">
    <div class="intro">
        <img src="https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg">
        <h1>Tutorial</h1>
    </div>

</div>