@page "/"
@layout Shared.Layouts.EmptyLayout;

<PageTitle>Index</PageTitle>



<div class="jumbotron text-center">
  <video id="video-background" muted autoplay loop>
    <source src="videos/TestVid.mp4" type="video/mp4">
  </video>
  <div class="intro">
      <h1>Hello</h1>
  </div>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="jumbotron text-center">
    <div class="intro">
        <h1>Tutorial</h1>
    </div>
</div>