@page "/"
@*@layout Shared.Layouts.EmptyLayout;*@

<PageTitle>Index</PageTitle>



<div class="jumbotron">
  <video class="video-background" muted autoplay loop>
    <source src="videos/TestVid.mp4" type="video/mp4">
  </video>
  <div class="container text-center" style="padding-top: 20vh; color: #ffffff;">
      <h1>Hello</h1>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div class="jumbotron">
  <video class="video-background" muted autoplay loop>
    <source src="videos/TestVid.mp4" type="video/mp4">
  </video>
  <div class="container text-center" style="padding-top: 20vh; color: #ffffff;">
      <h1>Hello</h1>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>