/* global variables*/
:root {
    /*--value: 5;*/
}

.jumbotron {
    height: 40vh;   /* vh is the percentage of the viewport's height it takes up */
    background-size: cover;
    background-position: center;
    color: #ffffff;
    border-radius: 0px !important;

    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 2;
}

/* class to stick in a <video> tag to give the nice fullscreen look */
.video-background {
    position: absolute;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}



