/* TODO: 
    - maybe have the dots fade in a certain direction
    - maybe gradient the background color
*/
.PortfolioDottedBG {
    background-image: 
        radial-gradient(rgba(255,255,255,.2) 5%, transparent 5%, transparent 100%), /* % values for first 2 colors are the size of the dot */
        linear-gradient(rgba(20, 20, 20, 1), #481217);
    background-size: 
        40px 40px,
        auto auto;
}



#ParallaxWrapper {
    /*will-change: transform;*/
    perspective-origin: center; /* vanishing point in center of screen */
    position: relative; /* make elements in this group relative to the whole pange, because we are going to have to use absolutly positioned elements */
    /* vh instead of % because % would adhear to the size of the parent element (the body) which we don't want since that may scroll. Basically we're ditching any scrolling outside this wrapper div. We essentially want this wrapper div to be the new body tag so we kind of want to ditch anything from the body. */
    width: 100vw;
    height: 100vh;
    perspective: 1px; /* easy value (translating on z by -1 will make it appear twice as small, so just scale it up by 2) */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; /* also do this on the body? */
    overflow-x: hidden; /* since we are working in 3D now, we don't want the horizontal scrollbar to appear for content that is offscreen just because it's moved on the Z. */
    overflow-y: auto; /* this div's scrolling will only be allowed if overflow occurs (not really needing scrolling for this div) */
}
/*.ParallaxWrapper * {*/    /* all descendants */
    /*transform-style:preserve-3d; 
}*/

/*.ParallaxGroup*/  /* all the content that will be given depth */
/*{
    .ParallaxLayer
    {
        position: absolute;
        inset: 0;
    } 
}*/

