@page "/NewPortfolio"
@using Website.Shared.Components
@layout Shared.Layouts.EmptyLayout;
@inject IJSRuntime jsRuntime;

<div id="ParallaxWrapper">  @* Wrapper the size of the viewport *@
    <div style="transform-style: preserve-3d; position: relative; width: 100%;"> @* 2nd wrapper solely for the pourpose of having a dynamic size depending on its content. Preserve 3d again because it only applies to 1st decendents. Position relative to make height percentages of child elements work *@
        
        <div class="PortfolioDottedBG" style="position:absolute; z-index:-1; width:200%; height:100%; transform:translateZ(-50px) scale(51);"/>   @* background. Does a large scale make load time slower? Especially if the bg is pure css? *@

        <div class="container" style="background-color:aqua;">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">1</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/50GLtzGa2F0" title="YouTube video player" frameborder="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="text-center embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">2</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:pink">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">3</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:blue">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">4</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:black">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">5</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:yellow">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">6</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">7</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">8</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:pink">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">9</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:blue">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">10</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:black">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">11</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:yellow">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">12</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">1</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/50GLtzGa2F0" title="YouTube video player" frameborder="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="text-center embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">2</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:pink">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">3</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:blue">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">4</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:black">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">5</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:yellow">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">6</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">7</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">8</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:pink">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">9</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:blue">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">10</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:black">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">11</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:yellow">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">12</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">1</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/50GLtzGa2F0" title="YouTube video player" frameborder="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="text-center embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">2</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:pink">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">3</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:blue">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">4</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:black">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">5</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:yellow">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">6</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">7</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">8</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:pink">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">9</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:blue">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">10</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:black">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">11</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:yellow">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">12</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">1</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/50GLtzGa2F0" title="YouTube video player" frameborder="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="text-center embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">2</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:pink">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">3</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:blue">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">4</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:black">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">5</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:yellow">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">6</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">7</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:aqua">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">8</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:pink">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">9</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:blue">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">10</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:black">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">11</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" style="background-color:yellow">
            <div class="row align-items-center">
                <div class="col-md-4 bg-warning">
                    <h2 class="text-center">ENDDDDDDDDDD</h2>
                        <p class="text-center center">Prototype of a game idea.</p>
                </div>
                
                <div class="col-md-4 bg-white">
                    
                </div>

                <div class="col-md-4 bg-dark">
                    <div class="embed-responsive embed-responsive-16by9">
                        
                    </div>
                </div>
            </div>
        </div>
            
    </div>

</div>

    


@code 
{
    float portfolioDivsSpeed = 40;

    IJSObjectReference jsObjRef = null;    // js interactor
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObjRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/NewPortfolio.razor.js");
            await jsObjRef.InvokeVoidAsync("init");
        }
    }
}
