@page "/NewPortfolio"
@using Website.Shared.Components
@layout Shared.Layouts.EmptyLayout;
@inject IJSRuntime jsRuntime;

<div id="ParallaxWrapper">  @* Wrapper the size of the viewport *@
    <div id="PageContent" class="HorizontalDebugBGFaded">
        <div id="BG" class="HorizontalDebugBG"/>   @* parallax background the size of the page *@

        
    </div>
</div>

    


@code 
{
    private IJSObjectReference jsObjRef;    // js interactor
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObjRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/NewPortfolio.razor.js");

            await jsObjRef.InvokeVoidAsync("OnAfterRenderAsync");
        }




    }
}
