#ParallaxWrapper {
    position: relative; /* make elements in this group relative to the whole pange, because we are going to have to use absolutly positioned elements */
    width: 100vw;
    height: 100vh;
    box-sizing:border-box;

    /* BEGIN 3D rendering context */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* END 3D rendering context */
    
    /* BEGIN Perspective */
    perspective-origin: center; /* vanishing point in center of screen */
    perspective: 1px; /* easy value (translating on z by -1 will make it appear twice as small, so just scale it up by 2) */
    /* BEGIN Perspective */

    overflow-x: hidden;
    overflow-y: auto;
}
#PageContent {

    /* BEGIN 3D rendering context */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* END 3D rendering context */
}





/* TODO: 
    - maybe have the dots fade in a certain direction
    - maybe gradient the background color
*/
.PortfolioDottedBG {
    background-image: 
        radial-gradient(rgba(255,255,255,.2) 5%, transparent 5%, transparent 100%), /* % values for first 2 colors are the size of the dot */
        linear-gradient(rgba(20, 20, 20, 1), #481217);
    background-size: /* NOTE: not the actual size of the div. Just creates an effect for the gradients */
        40px 40px,
        auto auto;
}

.BGTransform {
    /* Transform stuff..... */
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100%;   /* percentages will work since we are using position: fixed */

    transform: translateZ(-1px) scale(2);   /* Only problem rn is that it contributes to the scrolling for the parent */
}


@media all and (max-height: 500px) {
    
}

