@page "/Portfolio"
@using Website.Shared.Components
@layout Shared.Layouts.EmptyLayout;
@inject IJSRuntime jsRuntime;

<ParallaxWrapper @ref=ParallaxWrapperEl>

        <div style="opacity:.25;">
            <div class="container" style="background-color:aqua;">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">1</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">

                    </div>
                </div>
            </div>
            <div class="container" style="background-color:aqua">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">2</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:pink">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">3</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:blue">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">4</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:black">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">5</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:yellow">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">6</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:aqua;">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">1</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:aqua">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">2</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:pink">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">3</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:blue">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">4</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:black">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">5</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:yellow">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">6</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
        <br style="background-color:black;"/>
            <div class="container" style="background-color:aqua;">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">1</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:aqua">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">2</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:pink">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">3</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:blue">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">4</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:black">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">5</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:yellow">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">6</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:aqua;">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">1</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:aqua">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">2</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:pink">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">3</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:blue">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">4</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:black">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">5</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:yellow">
                <div class="row align-items-center">
                    <div class="col-md-4 bg-warning">
                        <h2 class="text-center">6</h2>
                            <p class="text-center center">Prototype of a game idea.</p>
                    </div>
                
                    <div class="col-md-4 bg-white">
                    
                    </div>
                    <div class="col-md-4 bg-dark">
                        
                    </div>
                </div>
            </div> 
        </div>
</ParallaxWrapper>

        


    


@code 
{
    public ParallaxWrapper ParallaxWrapperEl { get; set; }

    private IJSObjectReference jsObjRef;    // js interactor
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObjRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Portfolio.razor.js");
            await jsObjRef.InvokeVoidAsync("OnAfterRenderAsync");
        }
    }
}
