#BG
{
    width: 100vw; /* vw because for some reason using % doesn't fill up whole page width space */
    height: 100%; 
}

@media screen and (min-width: 40em) /* only non-mobile devices */
{
    @supports ((--foo: bar) and ((perspective: 300px) or (-moz-perspective: 300px) or (-webkit-perspective: 300px)) and (not (-webkit-overflow-scrolling: touch))) /* only if supports CSS custom properties and perspective property and then some thing at the end that apparently helps */ 
    {
        #BG 
        {
            --bgZTransform: -9000px;
        }
    }
}