@page "/Portfolio"

<PageTitle>Portfolio</PageTitle>




<div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">Welcome to the developer's management console!</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-8 offset-md-2">
                <p class="text-center">This is your headquarters for managing your servers!</p>
            </div>
        </div>

        <hr />
   
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-center">Demonstration Video</h2>
                    <p class="text-center center">To see the framework in action, check out the demo video!</p>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/wAIStc3JcEE" title="YouTube video player" frameborder="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="text-center embed-responsive-item"></iframe>
                </div>
            </div>
        </div>
        <hr />
    
</div>



@code {

}
