@page "/Portfolio"
@using Website.Shared.Components
@layout Shared.Layouts.EmptyLayout;
@inject IJSRuntime jsRuntime;

<ParallaxWrapper @ref=ParallaxWrapperEl>
    <BackgroundContent>
        <div id="BG" class="CoolDottedBG"/>
    </BackgroundContent>

    <PageContent>
        <header class="d-flex flex-column align-items-center justify-content-center" style="width:100vw; height:100vh; overflow:hidden; position:relative;">
            <video muted autoplay loop style="position: absolute; min-height: 100%; min-width: 100%;">
                <source src="videos/TestVid.mp4" type="video/mp4">
            </video>
            
            <div class="d-flex flex-column align-items-center justify-content-center" style="position: relative; min-height: 100%; min-width: 100%; background-color: rgba(26, 188, 156, .5);">
                <img style="max-height:100px; max-width:100px;" src="PortfolioTemplateResources/assets/img/avataaars.svg" alt="..." />
                <br />
                <h1 style="color:white;">BRIAN HINKLE</h1>

                <!-- Make icon divider here-->
                
                <p style="color:white;">Unreal Developer</p>
            </div>
        </header>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
    </PageContent>
</ParallaxWrapper>

        


    


@code 
{
    public ParallaxWrapper ParallaxWrapperEl { get; set; }

    private IJSObjectReference jsObjRef;    // js interactor
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObjRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Portfolio.razor.js");
            await jsObjRef.InvokeVoidAsync("OnAfterRenderAsync");
        }
    }
}
