@page "/Portfolio"
@using Website.Shared.Components
@layout Shared.Layouts.EmptyLayout;
@inject IJSRuntime jsRuntime;
<section>
  <img class="ParallaxElement" src="https://picsum.photos/1600/800?random=77">
  <h1>Simple parallax sections</h1>
</section>
<section>
  <img class="ParallaxElement" src="https://picsum.photos/1600/800?random=78">
  <h1>Hey look, a title</h1>
</section>
<section>
  <img class="ParallaxElement" src="https://picsum.photos/1600/800?random=79">
  <h1>They just keep coming</h1>
</section>
<section>
  <img class="ParallaxElement" src="https://picsum.photos/1600/800?random=80">
  <h1>So smooth though</h1>
</section>
<section>
  <img class="ParallaxElement" src="https://picsum.photos/1600/800?random=81">
  <h1>Nice, right?</h1>
</section>



    


@code 
{
    private IJSObjectReference jsObjRef;    // js interactor
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObjRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Portfolio.razor.js");
            await jsObjRef.InvokeVoidAsync("OnAfterRenderAsync");
        }
    }
}
