* {
    box-sizing: border-box;
}

#BG
{
    position: fixed;
    z-index: -1;

    width: 100vw;
    height: 100vh;
}

.page-section {
    padding: 6rem 0;
}

.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}





