@* This is a removed section from my portfolio. I figured people would rather just use my email and stuff to contact me, but it's still nice to have if I want it in the future I guess. *@

<div class="d-flex align-items-center h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">

                <!-- Contact Form Heading -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary" style="margin-bottom:3rem;">Contact Me</h2>
                    
                <!-- Make divider here... -->
                    
                <!-- Contact Form -->
                <form action="https://getform.io/f/de2c95c1-1b08-45bb-9091-c1cc4b13bced" method="POST">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                        <!-- Name input -->
                        <div class="col-12 col-md-6 mb-3">
                            <input class="form-control form-control-lg" id="name" name="name" type="text" placeholder="Your Name" required/>
                        </div>
                                        
                        <!-- Email address input -->
                        <div class="col-12 col-md-6 mb-3">
                            <input class="form-control form-control-lg" id="email" name="email" type="email" placeholder="Your Email" required/>
                        </div>
                                        
                                    
                    </div>

                    <!-- Subject -->
                        <div class="col-12 mb-1">
                            <input class="form-control form-control-lg" id="subject" name="subject" type="tel" placeholder="Subject" required/>
                        </div>
                    <!-- Message input -->
                    <div class="col-12 mb-1">
                        <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." rows="10" required></textarea>
                    </div>
                    <!-- Submit Button -->
                    <button class="btn btn-primary btn-xl col-12" id="submitButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
