#SharedVariablesWrapper
{

}


#BGParallaxWrapper
{
    z-index: -1;
    position: absolute; /* make elements in this group relative to the whole pange, because we are going to have to use absolutly positioned elements */
    width: 100vw;
    height: 100vh;
    padding: 0px;
	margin: 0px;

    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    
    overflow-x: hidden;
    overflow-y: auto;
}
#BGPageContent
{
    position: relative;

/* fallback sizing in scenerio where parallax isn't supported */
    width: 100vw;
    height: 100vh;
}
#BG
{
    width: 100vw; /* vw because for some reason using % doesn't fill up whole page width space */
    height: 100%; 
}
#ParallaxWrapper 
{
    z-index: 0;
    position: relative; /* make elements in this group relative to the whole pange, because we are going to have to use absolutly positioned elements */
    width: 100vw;
    height: 100vh;
    padding: 0px;
	margin: 0px;

    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    
    overflow-x: hidden;
    overflow-y: auto;
    
}
#PageContent /* pourpose for this 2nd wrapper is so that content of the page can be parented to a dynamically sized div */
{
    position: relative; /* we use relative position here so that #BG will look to this when deciding its height instead of the next available relative positioned element (#ParallaxWrapper) */
}


/* Parallax enhancement for larger screens... */
/* Conditionally apply */
@media screen and (min-width: 40em) /* only non-mobile devices */
{
    @supports ((--foo: bar) and ((perspective: 300px) or (-moz-perspective: 300px) or (-webkit-perspective: 300px)) and (not (-webkit-overflow-scrolling: touch))) /* only if supports CSS custom properties and perspective property and then some thing at the end that apparently helps */
    {
        #SharedVariablesWrapper
        {
        /* BEGIN variables */
            --ParallaxSupported: true; /* read from in JS */
            --PerspectiveValue: 300px; /* read from in JS */
        /* END variables */
        }


        #ParallaxWrapper
        {
            /* This is our scrolling div so this is where we must define the perspective */
            -webkit-perspective-origin: center bottom;
            perspective-origin: center bottom; /* vanishing point at 50% 100%. We do this to prevent Y overflow scrolling since overflow:hidden doesn't work for 3D */
            -webkit-perspective: var(--PerspectiveValue);
            perspective: var(--PerspectiveValue); /* avoid a -1 perspective value since it has shown unpredictable results accross browsers when zooming out. I've seen 300px used in a few places so I'll go with that. */
        }
        #PageContent /* pourpose for this 2nd wrapper is so that content of the page can be parented to a dynamically sized div (instead of ParallaxWrapper's 100vh) */
        {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        
        #BGParallaxWrapper
        {
            /* This is our scrolling div so this is where we must define the perspective */
            -webkit-perspective-origin: center bottom;
            perspective-origin: center bottom; /* vanishing point at 50% 100%. We do this to prevent Y overflow scrolling since overflow:hidden doesn't work for 3D */
            -webkit-perspective: var(--PerspectiveValue);
            perspective: var(--PerspectiveValue); /* avoid a -1 perspective value since it has shown unpredictable results accross browsers when zooming out. I've seen 300px used in a few places so I'll go with that. */
        }
        #BGPageContent
        {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

            --PageWidth: 0px;    /* set by JS */
            --PageHeight: 0px;   /* set by JS */
            width: var(--PageWidth);
            height: var(--PageHeight);
        }
        #BG
        {
            /* BEGIN variables */
            --bgZTransform: -90px; /* custom CSS property ParallaxWrapper component looks for when performing the BG element's transform */
            --widthScale: 1;        /* set by JS */
            --heightScale: 1;       /* set by JS */
            /* END variables */
            -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
            -webkit-transform: translateZ(var(--bgZTransform)) scale(var(--widthScale), var(--heightScale));
            transform: translateZ(var(--bgZTransform)) scale(var(--widthScale), var(--heightScale));
        }


    }
}




