@inject IJSRuntime jsRuntime;

<div id="SharedVariablesWrapper">

    <div id="BGParallaxWrapper">
        <div id="BGPageContent">
            @BackgroundContent
        </div>
    </div>

    <div id="ParallaxWrapper">  @* Wrapper the size of the viewport *@
        <div id="PageContent" class="HorizontalDebugBGFaded">  @* 2nd wrapper to allow for dynamic height *@
            @PageContent
        </div>
    </div>

</div>

    


@code 
{
    [Parameter]
        public RenderFragment BackgroundContent { get; set; }
    [Parameter]
        public RenderFragment PageContent { get; set; }

    private IJSObjectReference jsObjRef;    // js interactor
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObjRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/Components/ParallaxWrapper.razor.js");

            await jsObjRef.InvokeVoidAsync("OnAfterRenderAsync");
        }
    }
}
