/*
    Formula for scaling image to counter depth: https://www.desmos.com/calculator/e3xgfma8nb 

          -ZTransform
    1 +  --------------
        PerspectiveValue
*/

#ParallaxWrapper 
{
    z-index: 0;
    position: relative; /* make elements in this group relative to the whole pange, because we are going to have to use absolutly positioned elements */
    width: 100vw;
    height: 100vh;
    padding: 0px;
	margin: 0px;

    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    
    overflow-x: hidden;
    overflow-y: auto;
    
}
#PageContent /* pourpose for this 2nd wrapper is so that content of the page can be parented to a dynamically sized div */
{
    position: relative; /* we use relative position here so that #BG will look to this when deciding its height instead of the next available relative positioned element (#ParallaxWrapper) */
}


/* Parallax enhancement for larger screens... */
/* Conditionally apply */
@media screen and (min-width: 40em) /* only non-mobile devices */
{
    @supports ((--foo: bar) and ((perspective: 300px) or (-moz-perspective: 300px) or (-webkit-perspective: 300px)) and (not (-webkit-overflow-scrolling: touch))) /* only if supports CSS custom properties and perspective property and then some thing at the end that apparently helps */
    {
        #ParallaxWrapper
        {
            /* BEGIN variables */
            --PerspectiveValue: 300px; /* read from in JS */
            --PerspectiveOrigin: center;
            /* END variables */

            /* This is our scrolling div so this is where we must define the perspective */
            -webkit-perspective: var(--PerspectiveValue);
            perspective: var(--PerspectiveValue); /* avoid a -1 perspective value since it has shown unpredictable results accross browsers when zooming out. I've seen 300px used in a few places so I'll go with that. */
            -webkit-perspective-origin: var(--PerspectiveOrigin);
            perspective-origin: var(--PerspectiveOrigin); /* avoid a -1 perspective value since it has shown unpredictable results accross browsers when zooming out. I've seen 300px used in a few places so I'll go with that. */
         
        }
        #PageContent /* pourpose for this 2nd wrapper is so that content of the page can be parented to a dynamically sized div (instead of ParallaxWrapper's 100vh) */
        {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        ::deep .ParallaxContainer
        {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        ::deep .ParallaxElement
        {
            clip-path: polygon(var(--ClipLeft) var(--ClipTop), var(--ClipRight) var(--ClipTop), var(--ClipRight) var(--ClipBottom), var(--ClipLeft) var(--ClipBottom));
        }
    }
}




