@page "/RollyTest"
@inject IJSRuntime jsRuntime;

<div class="app">
    <div data-scene="custom" data-speed=".1" 
    style="background-image: radial-gradient(rgba(255,255,255,.2) 5%, transparent 5%, transparent 100%), linear-gradient(rgb(20, 20, 20), #481217); background-size: 40px 40px, auto auto;">

        <div data-child="a" data-speed=".2" style="background-color:lightblue;">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>1
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <div data-child="b" data-speed="2" style="background-color:rgba(0, 0, 0, .2); overflow:hidden">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <div data-child="c" data-speed="1.8" style="background-color:pink;">
                <br/>
                <br/>
                <br/>
            </div>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

</div>

@code{
    IJSObjectReference jsObjRef;    // js interactor
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObjRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/TestPages/RollyTest.razor.js");
            await jsObjRef.InvokeVoidAsync("init");
        }
    }
}
