@inherits LayoutComponentBase



<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<a href="#" class="navbar-brand mb-0 h1">
		@*<img class="d-inline-block align-top" src="https://getbootsrap.com//docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" />*@
		Navbar
	</a>

	<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			
			<li class="nav-item active">
				<a href="#" class="nav-link active">
					Home
				</a>
			</li>
			<li class="nav-item active">
				<a href="#" class="nav-link">
					Features
				</a>
			</li>
			<li class="nav-item active">
				<a href="#" class="nav-link">
					Pricing
				</a>
			</li>

		</ul>
	</div>
</nav>

















@*@Body*@

@code {

}
