@inject NavigationManager NavManager;

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
	<div  class="container-fluid">
		<a href="#" class="navbar-brand mb-0 h1">
			Brian Hinkle
		</a>
		


		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
					@*<li class="nav-item active dropdown">
					<a href="#" role="button" class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-aria-expanded="false">
						Features
					</a>
					<ul class="dropdown-menu" aria-aria-labelledby="navbarDropdown">
						<li>
							<a href="#" class="dropdown-item">
								Feature #1
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-item">
								Feature #2
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-item">
								Feature #3
							</a>
						</li>
					</ul>
				</li>*@
				<li class="nav-item active">
					<a href="@($"{NavManager.Uri}#portfolio")" class="nav-link">
						Portfolio
					</a>
				</li>
				<li class="nav-item active">
					<a href="@($"{NavManager.Uri}#about")" class="nav-link">
						About
					</a>
				</li>
				<li class="nav-item active">
					<a href="@($"{NavManager.Uri}#contact")" class="nav-link">
						Contact
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>

